{
  "openapi": "3.0.2",
  "info": {
    "title": "SAP Document AI ODATA V4 APIs",
    "description": "SAP Document AI helps you process large numbers of business documents containing a wide variety of content and structures. After you upload a document file to SAP Document AI, it extracts data across different sections and layouts, regardless of how the information is organized within the document.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.api.sap.com/documentai/document-ai/v1",
      "description": "Sandbox"
    },
    {
      "url": "https://{prefix}.cfapps.{region}.hana.ondemand.com/document-ai/v1",
      "description": "Production server",
      "variables": {
        "prefix": {
          "default": "jupiter-dox-prod-eu10"
        },
        "region": {
          "default": "eu10"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Document Service",
      "description": "Operations from DocumentService"
    },
    {
      "name": "Configuration Service",
      "description": "Operations from ConfigurationService"
    },
    {
      "name": "File Service",
      "description": "Operations from FileService"
    },
    {
      "name": "Schema Service",
      "description": "Operations from SchemaService"
    },
    {
      "name": "Workflow Service",
      "description": "Operations from WorkflowService"
    },
    {
      "name": "Channel Service",
      "description": "Operations from ChannelService"
    },
    {
      "name": "Transport Service",
      "description": "Operations from TransportService"
    },
    {
      "name": "Model Service",
      "description": "Operations from Model Service"
    },
    {
      "name": "Tools Service",
      "description": "Operations from Tools Service"
    }
  ],
  "paths": {
    "/DocumentService/DocumentEntities": {
      "post": {
        "summary": "Creates a single document entity.",
        "description": "Creates a new document entity with the provided attributes.",
        "tags": ["Document Service"],
        "requestBody": {
          "description": "New document entity",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentService.DocumentEntities-create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created document entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentService.DocumentEntities"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/DocumentService/DocumentEntities({ID})": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieves a single document entity.",
        "description": "Retrieves details of a specific document entity by its unique identifier.",
        "tags": ["Document Service"],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "documentVersion_ID",
                  "schemaEntity_ID",
                  "name",
                  "parent_ID",
                  "dateValue",
                  "stringValue",
                  "numberValue",
                  "rawValue",
                  "confidence",
                  "occurrence",
                  "type",
                  "dataType",
                  "signedOff",
                  "entityExternalURL"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "documentVersion",
                  "schemaEntity",
                  "parent",
                  "predictedBy",
                  "coordinates",
                  "attributes",
                  "changes"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved document entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentService.DocumentEntities"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "summary": "Changes a single document entity.",
        "description": "Updates properties of an existing document entity identified by its unique identifier.",
        "tags": ["Document Service"],
        "requestBody": {
          "description": "New property values",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentService.DocumentEntities-update"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Deletes a single document entity.",
        "description": "Deletes the specified document entity from the system.",
        "tags": ["Document Service"],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/DocumentService/DocumentTypes": {
      "get": {
        "summary": "Retrieves a list of document types.",
        "description": "Retrieves all available document types with optional filtering and paging.",
        "tags": ["Document Service"],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "ID desc",
                  "description",
                  "description desc",
                  "label",
                  "label desc",
                  "name",
                  "name desc",
                  "clientId",
                  "clientId desc",
                  "generalAvailability",
                  "generalAvailability desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "description",
                  "label",
                  "name",
                  "clientId",
                  "generalAvailability"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved document types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of DocumentTypes",
                  "properties": {
                    "@count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DocumentService.DocumentTypes"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/DocumentService/DocumentTypes({ID})": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieves a single document type.",
        "description": "Retrieves details of a specific document type by its unique identifier.",
        "tags": ["Document Service"],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "description",
                  "label",
                  "name",
                  "clientId",
                  "generalAvailability"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved document type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentService.DocumentTypes"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/DocumentService/Documents": {
      "get": {
        "summary": "Retrieves a list of documents.",
        "description": "Retrieves all documents with optional filtering, paging, and search capabilities.",
        "tags": ["Document Service"],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "ID desc",
                  "createdAt",
                  "createdAt desc",
                  "createdBy",
                  "createdBy desc",
                  "modifiedAt",
                  "modifiedAt desc",
                  "modifiedBy",
                  "modifiedBy desc",
                  "clientId",
                  "clientId desc",
                  "status",
                  "status desc",
                  "statusSwitchType",
                  "statusSwitchType desc",
                  "userAgreement",
                  "userAgreement desc",
                  "callbackTriggered",
                  "callbackTriggered desc",
                  "file_ID",
                  "file_ID desc",
                  "finishedAt",
                  "finishedAt desc",
                  "schema_ID",
                  "schema_ID desc",
                  "schemaVersion_ID",
                  "schemaVersion_ID desc",
                  "documentType_ID",
                  "documentType_ID desc",
                  "authProperties",
                  "authProperties desc",
                  "deleted",
                  "deleted desc",
                  "deletedAt",
                  "deletedAt desc",
                  "deletedBy",
                  "deletedBy desc",
                  "statusChangedAt",
                  "statusChangedAt desc",
                  "matchedDataset_ID",
                  "matchedDataset_ID desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "clientId",
                  "status",
                  "statusSwitchType",
                  "userAgreement",
                  "callbackTriggered",
                  "file_ID",
                  "finishedAt",
                  "schema_ID",
                  "schemaVersion_ID",
                  "documentType_ID",
                  "authProperties",
                  "deleted",
                  "deletedAt",
                  "deletedBy",
                  "statusChangedAt",
                  "matchedDataset_ID"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "file",
                  "systemInformation",
                  "schemaVersion",
                  "documentType",
                  "versions",
                  "messages",
                  "externalURLs",
                  "changes"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of Documents",
                  "properties": {
                    "@count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DocumentService.Documents"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/DocumentService/Documents({ID})": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieves a single document.",
        "description": "Retrieves details of a specific document by its unique identifier.",
        "tags": ["Document Service"],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "clientId",
                  "status",
                  "statusSwitchType",
                  "userAgreement",
                  "callbackTriggered",
                  "file_ID",
                  "finishedAt",
                  "schema_ID",
                  "schemaVersion_ID",
                  "documentType_ID",
                  "authProperties",
                  "deleted",
                  "deletedAt",
                  "deletedBy",
                  "statusChangedAt",
                  "matchedDataset_ID"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "file",
                  "systemInformation",
                  "schemaVersion",
                  "documentType",
                  "versions",
                  "messages",
                  "externalURLs",
                  "changes"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentService.Documents"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "summary": "Changes a single document.",
        "description": "Updates properties of an existing document identified by its ID.",
        "tags": ["Document Service"],
        "requestBody": {
          "description": "New property values",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentService.Documents-update"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Deletes a single document.",
        "description": "Deletes the specified document from the system.",
        "tags": ["Document Service"],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/DocumentService/Documents({ID})/DocumentService.confirmed": {
      "post": {
        "summary": "Invokes action confirmed",
        "description": "Marks the specified document as confirmed.",
        "tags": ["Document Service"],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DocumentService.Documents"
                    }
                  ],
                  "nullable": true
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "parameters": [
          {
            "description": "key: ID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ID": {
                    "type": "string",
                    "format": "uuid",
                    "example": "01234567-89ab-cdef-0123-456789abcdef",
                    "nullable": true
                  },
                  "useForInstantLearning": {
                    "type": "boolean",
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/DocumentService/Documents({ID})/DocumentService.rejected": {
      "post": {
        "summary": "Invokes action rejected",
        "description": "Marks the specified document as rejected.",
        "tags": ["Document Service"],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DocumentService.Documents"
                    }
                  ],
                  "nullable": true
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "parameters": [
          {
            "description": "key: ID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ID": {
                    "type": "string",
                    "format": "uuid",
                    "example": "01234567-89ab-cdef-0123-456789abcdef",
                    "nullable": true
                  },
                  "comments": {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DocumentService.CommentDetail"
                        }
                      ],
                      "nullable": true
                    }
                  }
                }
              },
              "examples": {
                "Others": {
                  "summary": "Others",
                  "description": "Custom description",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 1,
                      "description": "Custom description"
                    }
                  }
                },
                "poorQuality": {
                  "summary": "Poor Document Quality",
                  "description": "Blurry, dark, or unreadable scans/photos.",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 2,
                      "description": "Image is too blurry to extract text"
                    }
                  }
                },
                "wrongDocumentType": {
                  "summary": "Wrong Document Type",
                  "description": "Document is not the expected type (e.g. sent invoice instead of receipt).",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 3,
                      "description": "Received invoice instead of receipt"
                    }
                  }
                },
                "missingInfo": {
                  "summary": "Missing Required Information",
                  "description": "Key data is absent (e.g. date, amount, tax ID).",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 4,
                      "description": "Document is missing the invoice date and amount"
                    }
                  }
                },
                "duplicate": {
                  "summary": "Duplicate Document",
                  "description": "The same document has already been received.",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 5,
                      "description": "Already processed in document ID xyz-123"
                    }
                  }
                },
                "incorrectRecipient": {
                  "summary": "Incorrect Recipient",
                  "description": "Document not intended for this recipient/team",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 6,
                      "description": "Document is addressed to a different department"
                    }
                  }
                },
                "tampered": {
                  "summary": "Tampered Document",
                  "description": "Document appears to be modified or contains inconsistencies.",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 7,
                      "description": "Document ID seems to be modified"
                    }
                  }
                },
                "outOfScope": {
                  "summary": "Out of Scope",
                  "description": "Document is unrelated to the business process (e.g. job application).",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 8,
                      "description": "Document is unrelated to the business process"
                    }
                  }
                },
                "outdated": {
                  "summary": "Outdated Document",
                  "description": "Document is outside the accepted date range.",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": [
                      {
                        "reason": 9,
                        "description": "Document is outside the accepted date range"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/DocumentService/Documents({ID})/DocumentService.reviewNeeded": {
      "post": {
        "summary": "Invokes action reviewNeeded",
        "description": "Marks the specified document as needing review. The `comments` field in the request body is optional and only has an effect when reverting a document from `rejected` back to `reviewNeeded` — in that case, `reason` defaults to `1` if not provided. For other transitions to `reviewNeeded`, the `comments` field is ignored.",
        "tags": ["Document Service"],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DocumentService.Documents"
                    }
                  ],
                  "nullable": true
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "parameters": [
          {
            "description": "key: ID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ID": {
                    "type": "string",
                    "format": "uuid",
                    "example": "01234567-89ab-cdef-0123-456789abcdef",
                    "nullable": true
                  },
                  "comments": {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DocumentService.CommentDetail"
                        }
                      ],
                      "nullable": true
                    }
                  }
                }
              },
              "examples": {
                "Others": {
                  "summary": "Others",
                  "description": "Custom description",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 1,
                      "description": "Custom description"
                    }
                  }
                },
                "poorQuality": {
                  "summary": "Poor Document Quality",
                  "description": "Blurry, dark, or unreadable scans/photos.",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 2,
                      "description": "Image is too blurry to extract text"
                    }
                  }
                },
                "wrongDocumentType": {
                  "summary": "Wrong Document Type",
                  "description": "Document is not the expected type (e.g. sent invoice instead of receipt).",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 3,
                      "description": "Received invoice instead of receipt"
                    }
                  }
                },
                "missingInfo": {
                  "summary": "Missing Required Information",
                  "description": "Key data is absent (e.g. date, amount, tax ID).",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 4,
                      "description": "Document is missing the invoice date and amount"
                    }
                  }
                },
                "duplicate": {
                  "summary": "Duplicate Document",
                  "description": "The same document has already been received.",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 5,
                      "description": "Already processed in document ID xyz-123"
                    }
                  }
                },
                "incorrectRecipient": {
                  "summary": "Incorrect Recipient",
                  "description": "Document not intended for this recipient/team",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 6,
                      "description": "Document is addressed to a different department"
                    }
                  }
                },
                "tampered": {
                  "summary": "Tampered Document",
                  "description": "Document appears to be modified or contains inconsistencies.",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 7,
                      "description": "Document ID seems to be modified"
                    }
                  }
                },
                "outOfScope": {
                  "summary": "Out of Scope",
                  "description": "Document is unrelated to the business process (e.g. job application).",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": {
                      "reason": 8,
                      "description": "Document is unrelated to the business process"
                    }
                  }
                },
                "outdated": {
                  "summary": "Outdated Document",
                  "description": "Document is outside the accepted date range.",
                  "value": {
                    "ID": "01234567-89ab-cdef-0123-456789abcdef",
                    "comments": [
                      {
                        "reason": 9,
                        "description": "Document is outside the accepted date range"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/DocumentService/Documents({ID})/DocumentService.simpleStructure()": {
      "get": {
        "summary": "Retrieves simplified document structure",
        "description": "Returns a simplified, flattened structure of the document's extracted data in a nested map format, making it easier to consume than the full document entity structure.",
        "tags": ["Document Service"],
        "responses": {
          "200": {
            "description": "Success - Returns the simplified structure of extracted document data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "simpleStructure": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "A flexible nested map structure containing extracted field values organized by groups. Returns empty object if no extraction data exists."
                    }
                  }
                },
                "examples": {
                  "withData": {
                    "summary": "Document with extracted data",
                    "description": "Example response showing nested groups and fields",
                    "value": {
                      "simpleStructure": {
                        "HeaderData": {
                          "InvoiceNumber": "INV-2024-001",
                          "InvoiceDate": "2024-11-18",
                          "TotalAmount": "1250.00"
                        },
                        "VendorInfo": {
                          "VendorName": "Example Corp",
                          "VendorAddress": "123 Main St"
                        }
                      }
                    }
                  },
                  "noData": {
                    "summary": "Document without extraction data",
                    "description": "Response when document has no extracted data",
                    "value": {
                      "simpleStructure": {}
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "parameters": [
          {
            "description": "key: ID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ]
      }
    },
    "/DocumentService/Documents({ID})/documentType": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieves document type of a document.",
        "description": "Retrieves the document type associated with the specified document.",
        "tags": ["Document Service"],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "description",
                  "label",
                  "name",
                  "clientId",
                  "generalAvailability"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved document type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentService.DocumentTypes"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/DocumentService/Documents({ID})/externalURLs": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieves a list of external u r ls of a document.",
        "description": "Retrieves all external URLs linked to the specified document.",
        "tags": ["Document Service"],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "ID desc",
                  "createdAt",
                  "createdAt desc",
                  "createdBy",
                  "createdBy desc",
                  "modifiedAt",
                  "modifiedAt desc",
                  "modifiedBy",
                  "modifiedBy desc",
                  "url",
                  "url desc",
                  "urlTarget",
                  "urlTarget desc",
                  "document_ID",
                  "document_ID desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "url",
                  "urlTarget",
                  "document_ID"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": ["*", "document"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved external u r ls",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of ExternalURLs",
                  "properties": {
                    "@count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DocumentService.ExternalURLs"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "summary": "Creates a single external u r l of a document.",
        "description": "Creates a new external URL for the specified document.",
        "tags": ["Document Service"],
        "requestBody": {
          "description": "New external u r l",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentService.ExternalURLs-create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created external u r l",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentService.ExternalURLs"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/DocumentService/Documents({ID})/versions": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieves a list of versions of a document.",
        "description": "Retrieves all versions linked to the specified document.",
        "tags": ["Document Service"],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "ID desc",
                  "createdAt",
                  "createdAt desc",
                  "createdBy",
                  "createdBy desc",
                  "modifiedAt",
                  "modifiedAt desc",
                  "modifiedBy",
                  "modifiedBy desc",
                  "document_ID",
                  "document_ID desc",
                  "version",
                  "version desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "document_ID",
                  "version"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": ["*", "document", "entities"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of DocumentsVersions",
                  "properties": {
                    "@count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DocumentService.DocumentsVersions"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/ConfigurationService/Clients": {
      "get": {
        "description": "Retrieves all clients MAX limit:5000",
        "summary": "Retrieves all clients",
        "tags": ["Configuration Service"],
        "responses": {
          "200": {
            "description": "Retrieved clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of Client",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConfigurationService.Clients"
                      }
                    }
                  }
                },
                "examples": {
                  "fromChart": {
                    "value": {
                      "@context": "$metadata#Clients",
                      "value": [
                        {
                          "clientId": "alice",
                          "name": "Alice",
                          "description": "Alice Description",
                          "createdAt": "2025-06-04T13:35:48.070487Z",
                          "createdBy": "testUser123",
                          "modifiedAt": "2025-06-04T13:35:48.070487Z",
                          "modifiedBy": "testUser123"
                        },
                        {
                          "clientId": "content.sap",
                          "name": "content sap",
                          "description": "default content client",
                          "createdAt": "2025-06-04T13:35:10.393483Z",
                          "createdBy": "system",
                          "modifiedAt": "2025-06-04T13:35:10.393483Z",
                          "modifiedBy": "system"
                        },
                        {
                          "clientId": "default",
                          "name": "Default",
                          "description": "default client",
                          "createdAt": "2025-06-04T13:35:11.967770Z",
                          "createdBy": "system",
                          "modifiedAt": "2025-06-04T13:35:11.967770Z",
                          "modifiedBy": "system"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "description": "Creates client with clientId, name and description.",
        "summary": "Creates client",
        "tags": ["Configuration Service"],
        "requestBody": {
          "description": "New client",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationService.Clients-create"
              },
              "examples": {
                "fromChart": {
                  "value": {
                    "clientId": "alice",
                    "name": "Alice",
                    "description": "Alice Description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationService.Clients"
                },
                "examples": {
                  "fromChart": {
                    "value": {
                      "@context": "$metadata#Clients/$entity",
                      "clientId": "alice",
                      "name": "Alice",
                      "description": "Alice Description",
                      "createdAt": "2025-06-04T13:35:48.070487Z",
                      "createdBy": "testUser123",
                      "modifiedAt": "2025-06-04T13:35:48.070487Z",
                      "modifiedBy": "testUser123"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/ConfigurationService/Clients(‘{clientId}’)": {
      "parameters": [
        {
          "description": "key: clientId",
          "in": "path",
          "name": "clientId",
          "required": true,
          "schema": {
            "type": "string",
            "maxLength": 200
          }
        }
      ],
      "get": {
        "description": "Retrieves Client detail based on clientId",
        "summary": "Retrieves client",
        "tags": ["Configuration Service"],
        "responses": {
          "200": {
            "description": "Retrieved client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationService.Clients"
                },
                "examples": {
                  "fromChart": {
                    "value": {
                      "@context": "$metadata#Clients/$entity",
                      "clientId": "alice",
                      "name": "Alice",
                      "description": "Alice Description",
                      "createdAt": "2025-06-04T13:35:48.070487Z",
                      "createdBy": "testUser123",
                      "modifiedAt": "2025-06-04T13:35:48.070487Z",
                      "modifiedBy": "testUser123"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "description": "Updates client detail based on the clientId",
        "summary": "Updates client",
        "tags": ["Configuration Service"],
        "requestBody": {
          "description": "Partial update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationService.Clients-update"
              },
              "examples": {
                "fromChart": {
                  "value": {
                    "name": "Alice Name",
                    "description": "Alice name new description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationService.Clients"
                },
                "examples": {
                  "fromChart": {
                    "value": {
                      "@context": "$metadata#Clients/$entity",
                      "clientId": "alice",
                      "name": "Alice Name",
                      "description": "Alice name new description",
                      "createdAt": "2025-06-04T13:35:48.070487Z",
                      "createdBy": "testUser123",
                      "modifiedAt": "2025-06-04T13:45:54.022763Z",
                      "modifiedBy": "testUser123"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "description": "Deletes a client including its client ID, name and description.",
        "summary": "Deletes a single client.",
        "tags": ["Configuration Service"],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/ConfigurationService/Configurations": {
      "get": {
        "description": "Retrieves configuration based on client and context",
        "summary": "Retrieves configurations",
        "tags": ["Configuration Service"],
        "parameters": [
          {
            "name": "clientId",
            "description": "Client Id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "context",
            "description": "Context enum: client",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["client"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved configurations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of Configuration",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConfigurationService.Configurations"
                      }
                    }
                  }
                },
                "examples": {
                  "clientContext": {
                    "value": {
                      "@context": "$metadata#Configurations",
                      "value": [
                        {
                          "ID": "ccb85f3e-422a-4a90-8719-491519da7000",
                          "createdAt": "2025-06-04T14:29:17.348034Z",
                          "createdBy": "testUser123",
                          "modifiedAt": "2025-06-04T14:29:17.348034Z",
                          "modifiedBy": "testUser123",
                          "activateDocumentNotifications": false,
                          "clientSegregation": false,
                          "coordinateFormat": "default",
                          "dataFeedbackCollection": false,
                          "enableInstantLearning": false,
                          "enrichmentConfidenceThreshold": "low",
                          "manualDataActivation": false,
                          "performPIICheck": true,
                          "documentRetentionTimeDays": 7,
                          "processingEnvironment": "Open",
                          "context": "client",
                          "client_clientId": "alice"
                        }
                      ]
                    }
                  },
                  "clientOnly": {
                    "value": {
                      "@context": "$metadata#Configurations",
                      "value": [
                        {
                          "ID": "84a96c31-7dce-4abd-8a6d-8e4c2a9c35c6",
                          "createdAt": "2025-06-04T14:32:26.467991Z",
                          "createdBy": "system",
                          "modifiedAt": "2025-06-04T14:32:26.467991Z",
                          "modifiedBy": "system",
                          "activateDocumentNotifications": false,
                          "clientSegregation": false,
                          "coordinateFormat": "default",
                          "dataFeedbackCollection": false,
                          "enableInstantLearning": false,
                          "enrichmentConfidenceThreshold": "low",
                          "manualDataActivation": false,
                          "performPIICheck": true,
                          "documentRetentionTimeDays": 7,
                          "processingEnvironment": "Open",
                          "context": "instance",
                          "client_clientId": "alice"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "description": "Creates configuration",
        "summary": "Creates configuration (client context)",
        "tags": ["Configuration Service"],
        "parameters": [
          {
            "name": "clientId",
            "description": "Client Id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "context",
            "description": "Context enum: client",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["client"]
            }
          }
        ],
        "requestBody": {
          "description": "New configuration",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationService.Configurations-create"
              },
              "examples": {
                "fromChart": {
                  "value": {
                    "activateDocumentNotifications": false,
                    "dataFeedbackCollection": false,
                    "enableInstantLearning": false,
                    "enrichmentConfidenceThreshold": "low",
                    "documentRetentionTimeDays": 7
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationService.Configurations"
                },
                "examples": {
                  "fromChart": {
                    "value": {
                      "@context": "$metadata#Configurations/$entity",
                      "ID": "ccb85f3e-422a-4a90-8719-491519da7000",
                      "createdAt": "2025-06-04T14:29:17.348034Z",
                      "createdBy": "testUser123",
                      "modifiedAt": "2025-06-04T14:29:17.348034Z",
                      "modifiedBy": "testUser123",
                      "activateDocumentNotifications": false,
                      "clientSegregation": false,
                      "coordinateFormat": "default",
                      "dataFeedbackCollection": false,
                      "enableInstantLearning": false,
                      "enrichmentConfidenceThreshold": "low",
                      "manualDataActivation": false,
                      "performPIICheck": true,
                      "documentRetentionTimeDays": 7,
                      "processingEnvironment": "Open",
                      "context": "client",
                      "client_clientId": "alice"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/ConfigurationService/Configurations({ID})": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "patch": {
        "description": "Updates configuration based on Id",
        "summary": "Updates configuration",
        "tags": ["Configuration Service"],
        "requestBody": {
          "description": "New property values",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationService.Configurations-update"
              },
              "examples": {
                "updateInstance_fromChart": {
                  "value": {
                    "activateDocumentNotifications": false,
                    "clientSegregation": false,
                    "coordinateFormat": "default",
                    "dataFeedbackCollection": false,
                    "enableInstantLearning": false,
                    "enrichmentConfidenceThreshold": "low",
                    "manualDataActivation": false,
                    "performPIICheck": true,
                    "documentRetentionTimeDays": 7,
                    "processingEnvironment": "Open"
                  }
                },
                "updateClientContext_fromChart": {
                  "value": {
                    "activateDocumentNotifications": false,
                    "dataFeedbackCollection": false,
                    "enableInstantLearning": false,
                    "enrichmentConfidenceThreshold": "low",
                    "documentRetentionTimeDays": 7
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationService.Configurations"
                },
                "examples": {
                  "updateInstance_fromChart": {
                    "value": {
                      "@context": "$metadata#Configurations/$entity",
                      "ID": "84a96c31-7dce-4abd-8a6d-8e4c2a9c35c6",
                      "createdAt": "2025-06-03T09:08:43.265903Z",
                      "createdBy": "system",
                      "modifiedAt": "2025-06-03T09:10:52.123639Z",
                      "modifiedBy": "testUser123",
                      "activateDocumentNotifications": false,
                      "clientSegregation": true,
                      "coordinateFormat": "default",
                      "dataFeedbackCollection": false,
                      "enableInstantLearning": false,
                      "enrichmentConfidenceThreshold": "low",
                      "manualDataActivation": false,
                      "performPIICheck": true,
                      "documentRetentionTimeDays": 10,
                      "processingEnvironment": "Open",
                      "context": "instance",
                      "client_clientId": null
                    }
                  },
                  "updateClientContext_fromChart": {
                    "value": {
                      "@context": "$metadata#Configuration/$entity",
                      "ID": "ccb85f3e-422a-4a90-8719-491519da7000",
                      "createdAt": "2025-06-04T14:29:17.348034Z",
                      "createdBy": "testUser123",
                      "modifiedAt": "2025-06-04T14:29:17.348034Z",
                      "modifiedBy": "testUser123",
                      "activateDocumentNotifications": false,
                      "clientSegregation": false,
                      "coordinateFormat": "default",
                      "dataFeedbackCollection": false,
                      "enableInstantLearning": false,
                      "enrichmentConfidenceThreshold": "low",
                      "manualDataActivation": false,
                      "performPIICheck": true,
                      "documentRetentionTimeDays": 7,
                      "processingEnvironment": "Open",
                      "context": "client",
                      "client_clientId": "alice"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "description": "Deletes configuration based on Id",
        "summary": "Deletes configuration",
        "tags": ["Configuration Service"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/FileService/Files": {
      "get": {
        "summary": "Retrieves a list of files.",
        "description": "Retrieves all files with optional filtering, paging, and search capabilities.",
        "tags": ["File Service"],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "ID desc",
                  "createdAt",
                  "createdAt desc",
                  "createdBy",
                  "createdBy desc",
                  "modifiedAt",
                  "modifiedAt desc",
                  "modifiedBy",
                  "modifiedBy desc",
                  "name",
                  "name desc",
                  "content",
                  "content desc",
                  "mimeType",
                  "mimeType desc",
                  "clientId",
                  "clientId desc",
                  "pageCount",
                  "pageCount desc",
                  "path",
                  "path desc",
                  "text",
                  "text desc",
                  "parent_ID",
                  "parent_ID desc",
                  "deleted",
                  "deleted desc",
                  "deletedAt",
                  "deletedAt desc",
                  "deletedBy",
                  "deletedBy desc",
                  "status",
                  "status desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "name",
                  "content",
                  "mimeType",
                  "clientId",
                  "pageCount",
                  "path",
                  "ocrResponse",
                  "hOCR",
                  "text",
                  "parent_ID",
                  "deleted",
                  "deletedAt",
                  "deletedBy",
                  "status"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": ["*", "documents", "pages", "parent", "messages"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of Files",
                  "properties": {
                    "@count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileService.Files"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/FileService/Files({ID})": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieves a single file.",
        "description": "Retrieves details of a specific file by its unique identifier.",
        "tags": ["File Service"],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "name",
                  "content",
                  "mimeType",
                  "clientId",
                  "pageCount",
                  "path",
                  "ocrResponse",
                  "hOCR",
                  "text",
                  "parent_ID",
                  "deleted",
                  "deletedAt",
                  "deletedBy",
                  "status"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": ["*", "documents", "pages", "parent", "messages"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileService.Files"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Deletes a single file.",
        "description": "Deletes the specified file from the system.",
        "tags": ["File Service"],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/FileService/Files({ID})/FileService.filter": {
      "post": {
        "summary": "Invokes action filter",
        "description": "Applies a filter action to the specified file.",
        "tags": ["File Service"],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FileService.cds_Map"
                    }
                  ],
                  "nullable": true
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "parameters": [
          {
            "description": "key: ID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "condition": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FileService/Files({ID})/documents": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieves a list of documents of a file.",
        "description": "Retrieves all documents linked to the specified file.",
        "tags": ["File Service"],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "ID desc",
                  "createdAt",
                  "createdAt desc",
                  "createdBy",
                  "createdBy desc",
                  "modifiedAt",
                  "modifiedAt desc",
                  "modifiedBy",
                  "modifiedBy desc",
                  "clientId",
                  "clientId desc",
                  "status",
                  "status desc",
                  "statusSwitchType",
                  "statusSwitchType desc",
                  "userAgreement",
                  "userAgreement desc",
                  "callbackTriggered",
                  "callbackTriggered desc",
                  "file_ID",
                  "file_ID desc",
                  "finishedAt",
                  "finishedAt desc",
                  "schema_ID",
                  "schema_ID desc",
                  "schemaVersion_ID",
                  "schemaVersion_ID desc",
                  "documentType_ID",
                  "documentType_ID desc",
                  "authProperties",
                  "authProperties desc",
                  "deleted",
                  "deleted desc",
                  "deletedAt",
                  "deletedAt desc",
                  "deletedBy",
                  "deletedBy desc",
                  "statusChangedAt",
                  "statusChangedAt desc",
                  "matchedDataset_ID",
                  "matchedDataset_ID desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "clientId",
                  "status",
                  "statusSwitchType",
                  "userAgreement",
                  "callbackTriggered",
                  "file_ID",
                  "finishedAt",
                  "schema_ID",
                  "schemaVersion_ID",
                  "documentType_ID",
                  "authProperties",
                  "deleted",
                  "deletedAt",
                  "deletedBy",
                  "statusChangedAt",
                  "matchedDataset_ID"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "file",
                  "systemInformation",
                  "schemaVersion",
                  "versions",
                  "messages",
                  "externalURLs",
                  "changes"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of Documents",
                  "properties": {
                    "@count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileService.Documents"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/FileService/Files({ID})/messages": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieves a list of messages of a file.",
        "description": "Retrieves all messages linked to the specified file.",
        "tags": ["File Service"],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "ID desc",
                  "createdAt",
                  "createdAt desc",
                  "createdBy",
                  "createdBy desc",
                  "modifiedAt",
                  "modifiedAt desc",
                  "modifiedBy",
                  "modifiedBy desc",
                  "code",
                  "code desc",
                  "level",
                  "level desc",
                  "message",
                  "message desc",
                  "details",
                  "details desc",
                  "errorGuid",
                  "errorGuid desc",
                  "file_ID",
                  "file_ID desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "code",
                  "level",
                  "message",
                  "details",
                  "errorGuid",
                  "file_ID"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": ["*", "file"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of FilesMessageLogs",
                  "properties": {
                    "@count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileService.FilesMessageLogs"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/FileService/Files({ID})/pages": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieves a list of pages of a file.",
        "description": "Retrieves all pages linked to the specified file.",
        "tags": ["File Service"],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "ID desc",
                  "file_ID",
                  "file_ID desc",
                  "pageNumber",
                  "pageNumber desc",
                  "path",
                  "path desc",
                  "image",
                  "image desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": ["ID", "file_ID", "pageNumber", "path", "image"]
              }
            }
          },
          {
            "name": "$expand",
            "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": ["*", "file", "languages", "countries"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of Pages",
                  "properties": {
                    "@count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileService.Pages"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/FileService/Files({ID})/parent": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieves parent of a file.",
        "description": "Retrieves the parent entity of the specified file.",
        "tags": ["File Service"],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "name",
                  "content",
                  "mimeType",
                  "clientId",
                  "pageCount",
                  "path",
                  "ocrResponse",
                  "hOCR",
                  "text",
                  "parent_ID",
                  "deleted",
                  "deletedAt",
                  "deletedBy",
                  "status"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": ["*", "documents", "pages", "parent", "messages"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved parent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileService.Files"
                }
              }
[...]
